.containerTwo{
    display: flex;
    flex-direction: column;
    img {
        width :500px;   
    }
    width: 500px;

    &__text{
        width: 500px;
        background-color: $chillUs-color-four;
        font-size: small;
        padding: 10px;
    }
}